{% extends 'base.html.twig' %}

{% block body %}

    <!-- Début barnav principale -->

    <div class="nav_header" xmlns="http://www.w3.org/1999/html">
        <nav>
            <ul>
                <li><a href="{{ path("homepage") }}" title="Télécharger">Accueil</a></li>
                <li><a href="{{ path("circuit_index") }}" title="Télécharger">Circuit</a></li>
                <li><a href="{{ path("progression_index") }}" title="Télécharger">Parcours</a></li>
                <li><a href="{{ path("homepage") }}" title="Télécharger">Connexion</a></li>
            </ul>
        </nav>
    </div>

    <!-- Fin barnav principale -->

    <!--      -->




    <!-- Début footer -->
    <footer>
        <p>© 2016 Copyright Party Caroline | <strong><span class="diff">Mentions légales</span></strong></p>
    </footer>
    <!-- Fin footer -->
{% endblock %}
